{% block main_content %}
<h1>Configurable workflow demonstration</h1>
<a href="{% url 'flow-create' %}">Create flow</a>
<ul>
    {% for flow in object_list %}
        <li>
            {% include "includes/requirement_summary.html" with flow=flow %}
            <form action="{% url "flow-delete" flow.pk %}" method="POST">
            {% csrf_token %}
            {% if flow.on_manual_step or not flow.is_complete %}
                <a href="{% url "flow-continue" flow.pk %}">Progress requirement</a>
            {% else %}
                <a href="{% url "flow" flow.pk %}">View requirement</a>
            {% endif %}
                <button>
                    Delete requirement
                </button>
            </form>
        </li>
        <hr>
        {% empty %}
        <li>
            <p>
                No workflows yet.
            </p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
