<h1>{{ object.workflow_name }} - {{ object.flow_name }}</h1>
<dl>
  <div>
    <dt>
      Started
    </dt>
    <dd>
      {{ object.started }}
    </dd>
  </div>
  <div>
    <dt>
      Started by
    </dt>
    <dd>
      {{ object.executed_by.get_full_name }}
    </dd>
  </div>
  {% if object.finished %}
    <div>
      <dt>
        Finished?
      </dt>
      <dd>
        {{ object.finished }}
      </dd>
    </div>
  {% else %}
    <div>
      <dt>
        Status
      </dt>
      <dd>
        {{ object.status }}
      </dd>
    </div>
  {% endif %}
</dl>
{% with next_task=object.current_task_status %}
  {% if next_task and not next_task.auto %}
    <a href="{% url 'flow-continue' object.pk %}">Continue</a>
  {% endif %}
{% endwith %}
{% include 'django_workflow_engine/flow_diagram.html' %}
