name: Build and publish docs
on:
  push:
    branches:
      - main
      - fix-docs
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.11
      - name: Install Poetry
        run: |
          pip install -U pip
          pip install poetry
          poetry config virtualenvs.create false
          poetry install --with docs
      - run: poetry run mkdocs gh-deploy --force
