name: Python package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install poetry
        run: |
          pip install -U pip
          pip install poetry
          poetry install --with testing
        env:
          POETRY_VIRTUALENVS_CREATE: false
      - name: Run Tox
        run: poetry run tox
